@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-nav {
  font-family: Montserrat, sans-serif;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 1;
  height: 10vh;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(20px);
}

.main-nav .nav-link-items {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-nav .nav-link-items ul {
  margin-left: auto;
}

.nav-link-item {
  display: flex;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 100%;
}

.logo {
  height: 2rem;
  width: 2rem;
}

.nav-link-item a,
.nav-social-media-logo a {
  position: relative;
  color: rgb(229, 229, 229);
}

.nav-link-item a:after,
.nav-social-media-logo a:after {
  content: '';
  position: absolute;
  background-color: #fdb7ab;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -0.5rem;
  transition: 0.3s;
}

.nav-link-item > a:hover,
.nav-social-media-logo > a:hover {
  color: #fdb7ab;
  transition: 0.3s;
}

.nav-link-item > a:hover:after,
.nav-social-media-logo > a:hover:after {
  width: 100%;
}

.nav-social-media-logos {
  display: flex;
  align-items: center;
}

.nav-social-media-logo {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
}

.dropdown-wrapper {
  position: absolute;
  top: 6vh;
  left: -3vw;
}

.blur {
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(8px);
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

/*For CSS transitions for dropdown menu:*/
/*https://www.youtube.com/watch?v=IF6k0uZuypA&t=796s*/
.dropdown-items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 1rem;
  overflow: hidden;
}

.dropdown-item {
  display: inline-block;
  text-align: center;
  width: 10vw;
  justify-content: center;
  transition: 0.7s;
  padding: 1rem;
  border-radius: 15px;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: rgba(253, 183, 171, 0.8);
}

@media screen and (max-width: 1024px) {
  .main-nav {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    align-items: center;
    font-size: 2.5rem;
  }

  .nav-link-items {
    flex-direction: column;
    align-items: center;
  }

  .nav-link-item,
  .nav-social-media-logo {
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .main-nav .nav-link-items ul {
    padding-left: 2rem;
    margin-left: 0;
    justify-content: center;
  }

  .nav-social-media-logo {
    list-style: none;
    padding-left: 0;
    font-size: 2.5rem;
  }

  .dropdown-wrapper {
    display: none;
  }
}
